[*]
charset = utf-8
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.sm]
indent_style = space
indent_size = 4

[*.yaml-tmLanguage]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 4
